body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

header {
  background-color: #2b2a2a;
  color: white;
  width: 96vw;
  padding: 2%;
  font-family: "Nunito", sans-serif;
  font-weight: 500;

  nav {
    background-color: #2b2a2a;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    gap: 10px;

    .logoHeader {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .contenidoHeader {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 2%;
      ul {
        display: flex;
        list-style: none;
        text-align: center;
        gap: 10px;
        a {
          text-decoration: none;
          color: #ffffff;
          font-size: 23px;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }

    .ExtraHeader {
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      .BtnNav {
        width: 100%;

        display: flex;
        justify-content: space-around;

        a {
          button {
            border: none;
            background-color: rgba(0, 0, 0, 0.192);
            color: white;
            border-radius: 5px;
            width: 40vw;
            height: 5vh;

            font-size: 22px;

            transition: transform 0.2s;
          }
          button:hover {
            cursor: pointer;
            transform: scale(1.2);
          }
          button:active {
            transform: scale(1.1);
          }
        }
      }

      .SearchNav {
        margin-bottom: 2%;

        input {
          padding: 10px;
          border-radius: 5px 0 0 5px;
          border: 0;
          width: 75vw;
        }
        button {
          background-color: crimson;
          padding: 10px;

          border: 0;
          border-radius: 0 5px 5px 0;
          color: white;
        }
        button:hover {
          cursor: pointer;
        }
        button:active {
          background-color: rgb(155, 14, 42);
        }
      }
    }
  }
}

footer {
  background-color: #333;
  color: white;

  width: 100%;
  height: 70vh;

  margin: 0;

  margin: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 500;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;

  .logoFooter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
    margin: 5% 0%;

    h2 {
      font-family: "Nunito", sans-serif;
      font-weight: 500;
    }
  }

  .FooterLinks {
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    text-align: center;

    .Redes {
      width: 100%;
      h4 {
        font-size: 30px;
        margin-bottom: 50px;
      }
      ul {
        list-style: none;

        display: flex;
        justify-content: space-around;
      }

      a {
        color: #777777;
      }
      a:hover {
        text-decoration: underline;
      }
    }
    .Enlaces {
      width: 100%;

      h4 {
        font-family: "Nunito", sans-serif;
        font-size: 30px;
        font-weight: 500;
      }
      ul {
        list-style: none;
      }

      a {
        color: #777777;
        text-decoration: none;
        font-family: "Nunito", sans-serif;
        font-weight: 500;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    width: 100%;
    padding: 2%;

    nav {
      display: grid;
      grid-template-rows: 60% 40%;
      grid-template-columns: 35% 65%;
      gap: 0;
      .contenidoHeader {
        justify-content: start;
        margin-left: 2%;
        ul {
          gap: 50px;
        }
      }

      .ExtraHeader {
        width: 100%;

        display: flex;
        flex-direction: ROW;
        align-items: center;
        gap: 15%;

        .BtnNav {
          justify-content: space-between;
          gap: 5%;

          a {
            button {
              width: 15vw;
              height: 5vh;
            }
          }
        }

        .SearchNav {
          display: flex;

          input {
            width: 50vw;
          }
        }
      }
    }
  }

  footer {
    height: 35vh;
    padding: 2% 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 90%;

    gap: 3%;

    .logoFooter {
      gap: 1%;
      margin: 0;

      grid-column: 1/3;
      grid-row: 1/2;
    }

    .FooterLinks {
      grid-column: 1/3;
      grid-row: 2/3;
      flex-direction: row;
      .Redes {
        height: 100%;

        h4 {
          font-size: 25px;
          margin-bottom: 0;
        }
        ul {
          height: 25vh;
          flex-direction: column;
        }
      }
      .Enlaces {
        width: 100%;
        height: 100%;

        h4 {
          font-size: 25px;
        }

        ul {
          height: 25vh;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding: 5px 0;
    height: 200px;
    width: 100%;
    height: 14vh;

    nav {
      display: grid;
      grid-template-columns: 15% 60% 25%;
      gap: 0;
      padding: 2vh 0;

      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;

      .contenidoHeader {
        width: 100%;
        height: 100%;

        margin-bottom: 0;

        grid-column: 2/3;

        ul {
          width: 100%;
          justify-content: space-around;

          a {
            font-size: 20px;
          }
        }
      }

      .ExtraHeader {
        gap: 10px;

        .BtnNav {
          justify-content: center;
          gap: 20px;

          a {
            button {
              width: 8vw;
              height: 7vh;

              font-size: 15px;
            }
          }
        }

        .SearchNav {
          margin-bottom: 0;

          input {
            width: 13vw;
          }
        }
      }
    }
  }

  footer {
    height: 50vh;
    padding: 2% 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 90%;

    .logoFooter {
      gap: 1%;
      margin: 0;

      grid-column: 1/3;
      grid-row: 1/2;
    }

    .FooterLinks {
      grid-column: 1/3;
      grid-row: 2/3;
      flex-direction: row;

      margin-top: 50px;
      .Redes {
        height: 100%;

        h4 {
          font-size: 25px;
          margin-bottom: 0;
        }
        ul {
          height: 25vh;
          flex-direction: column;
        }
      }
      .Enlaces {
        width: 100%;
        height: 100%;

        h4 {
          font-size: 25px;
        }

        ul {
          height: 25vh;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
        }
      }
    }
  }
}
